body {
  font-size: 20px;
  line-height: 3;
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background: linear-gradient(to bottom, #c70039, #2a9d8f);
  color: rgb(236, 228, 228);
  text-align: center;
  margin: 50px;
  position: relative; /* Permet le positionnement absolu des flocons de neige */
  overflow-x: hidden;
}

.border-line {
  border-bottom: 10px solid #036257;
  color: linear-gradient(to bottom, #c70039, #2a9d8f);
  border-radius: 20px;
  margin: 50px 0px 50px 300px;
  width: 50%;
}

h1 {
  font-size: 75px;
  box-shadow: #aeaeae 0px 0px 10px 0px;
}

h2 {
  background: linear-gradient(to bottom, #c70039, #2a9d8f);
  margin: 0px 0px 0px 0px;
  border-radius: 80px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

h2:hover {
  color: tomato;
}

h3 {
  background: linear-gradient(to bottom, #c70039, #2a9d8f);
  margin: 5px;
  border-radius: 80px;
  border-top-right-radius: 100px;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  height: 15px;
  font-size: 30px;
}

img {
  width: 100%;
  height: auto;
  border-radius: 50px;
}

#formulaireLettre {
  margin: 60px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lastname {
  width: 30%;
  height: 25px;
  border-radius: 15px;
  background-color: rgb(136, 163, 206);
}

.firstname {
  width: 30%;
  height: 25px;
  border-radius: 15px;
  background-color: rgb(136, 163, 206);
}

.age {
  display: flex;
  justify-content: center;
  width: 15%;
  height: 25px;
  border-radius: 15px;
  background-color: rgb(136, 163, 206);
}

.address {
  width: 30%;
  height: 100px;
  border-radius: 15px;
  background-color: rgb(136, 163, 206);
}

.gift {
  width: 45%;
  height: 100px;
  border-radius: 15px;
  background-color: rgb(136, 163, 206);
}

#countdown {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  font-size: 1.2rem;
  margin: 50px;
}

#countdown div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Courier New", Courier, monospace;
  width: 220px;
  height: 100px;
  border-radius: 20px;
  color: #c70039;
  background: radial-gradient(
    circle at 50% 120%,
    #ffffff,
    #efefef 60%,
    #aeaeae 100%
  );
  text-align: center;
  position: relative;
  top: 20px;
  left: 30px;
  font-size: 30px;
}

#rennes-2 {
  margin: 100px;
}

#share-experience {
  margin: 100px;
}

#experience-form {
  margin: 100px 100px 0px 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.description-experience {
  height: 200px;
  border-radius: 15px;
  color: #c70039;
  background-color: rgb(136, 163, 206);
}

.pseudo-form {
  height: 25px;
  border-radius: 20px;
  color: #c70039;
  background-color: rgb(136, 163, 206);
}

#submit-experience {
  margin: 30px;
  width: 30%;
  height: 50px;
  border-radius: 30px;
  border: #aeaeae 1px solid;
  background: tomato;
  color: whitesmoke;
  cursor: pointer;
}

#submit-experience:hover {
  color: #2a9d8f;
}

#lettre {
  margin: 150px;
}

#submit-letter {
  margin: 75px;
  background: tomato;
  color: whitesmoke;
  padding: 15px 30px;
  font-size: 1.2rem;
  border: #aeaeae 1px solid;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#submit-letter:hover {
  color: #2a9d8f;
}

/* Animation de neige */
.snowflake {
  position: absolute;
  content: "❄️";
  font-size: 2rem;
  animation: snowfall linear infinite;
  pointer-events: none; /* Les flocons ne réagiront pas aux événements de souris */
}

@keyframes snowfall {
  0% {
    transform: translateY(-100vh) rotate(0deg);
  }
  100% {
    transform: translateY(100vh) rotate(360deg);
  }
}

.snowflake::before,
.snowflake::after {
  content: "❄️";
  position: absolute;
  font-size: 2rem;
  animation: snowfall linear infinite;
}

.snowflake::before {
  left: 20px;
}

.snowflake::after {
  left: -20px;
}
